/*

Styling for the options panel

*/
#optionsframework-metabox {
	margin-right:300px;
}
#optionsframework {
	float:left;
	width:100%;
}
#optionsframework-sidebar {
	float: left;
	margin-left:18px;
	width: 280px;
}
#optionsframework-sidebar .metabox-holder {
	padding-top:0;
}
#optionsframework-sidebar h3 {
	background-color: #52ACCC;
	color:#fff;
	border-bottom: 1px solid #DDD;
}
#optionsframework-sidebar .button {
	margin-top:15px;
}

@media screen and (max-width: 782px) {
	#optionsframework-metabox {
		margin-right: 0;
	}
	#optionsframework-sidebar {
		clear:both;
		float: none;
		width: auto;
		margin: 20px 0 0 0;
	}
}